<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detect Gender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">

    <style>
      .loading {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: rgba(255, 125570, 255, .5);
        display: none;
      }

      .loading__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>

    {% block styles %} {% endblock %}
  </head>
  <body>
    <!-- As a heading -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Bread Quality</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Mold</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %} {% endblock %}
    </div>

    <div id="loading" class="loading">
      <div class="loading__container">
        <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename= 'js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/jquery-3.7.1.min.js') }}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>